/* 
    Created on : Mar 10, 2022, 1:14:48 AM
    Author     : askaryabbas
*/

.dashboard-status-menu-form-wrap .wp-editor-wrap {
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.dashboard-status-menu-form-wrap .status-message-form-title {
    margin-top: 80px;
    text-align: center;
}
.dsm-status-message {
    padding: 10px !important;
}
.dsm-status-message:not(.dsm-widget) .dashicons-before {
    padding-right: 20px;
}
.dsm-status-message:not(.dsm-widget) .dashicons-before::before {
    color: #00a32a;
}
.dsm-status-message ul, .dsm-status-message ol {
    list-style: inherit;
    display: inline-block;
}
.dsm-widget span.dashicons-before.dashicons-megaphone {
    display: block;
    text-align: center;
    height: 30px;
}
.dsm-widget span.dashicons-before.dashicons-megaphone::before {
    font-size: 30px;
    color: #00a32a;
}
.dsm-status-message:not(.dsm-widget) .dashicons-before, .dsm-status-message:not(.dsm-widget) .dsm-status-message-content {
    display: inline-block;
    vertical-align: middle;
}
.status-message-form-title-network {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}
.status-message-form-title-network span.dsm-network-admin-warning strong {
    color: #f00;
    font-weight: bold !important;
}
span.dashicons-before.dashicons-warning::before {
    color: #f00;
    font-size: 18px;
}